import pyttsx3
import speech_recognition as sr
import datetime
import wikipedia
import webbrowser
import os
import smtplib

engine = pyttsx3.init('sapi5')
voices = engine.getProperty('voices')
engine.setProperty('voice', voices[1].id)


def speak(audio):
    pass
    engine.say(audio)
    engine.runAndWait()


def wishme():
    hour = int(datetime.datetime.now().hour)
    if hour >= 0 and hour <= 12:
        speak("Good Morning")

    elif hour >= 12 and hour < 18:
        speak("Good Afternoon")

    else:
        speak("Good Evening")

    speak("Hello I am Batman Sir.Please tell me how may I help you")


def takecommand():
    # taking command from user through microphone
    r = sr.Recognizer()

    with sr.Microphone() as source:
        print("Listning...")
        r.pause_threshold = 1
        audio = r.listen(source)

    try:
        print("Recognizing...")
        query = r.recognize_google(audio, language='en-in')
        print(f"user said: {query}\n")

    except Exception as e:
        print("Say that again please???")
        return "None"
    return query


def sendEmain(to, content):
    sever = smtplib.SMTP('smtp.gamil.com', 587)
    sever.ehlo()
    sever.starttls()
    sever.login('yourmail@gmail.com', 'password')
    sever.sendmail('yourmail@gmail.com', to, content)
    sever.close()


if __name__ == "main":
    wishme()
    # while True: {pause for techincal reason}

    if 1:
        query = takecommand().lower()
    # for executing tasks based on query
    if 'wikipedia' in query:
        speak('searching wikipedia')
        query = query.replace("wikipedia", "")
        result = wikipedia.summary(query, sentences=3)
        print(result)
        speak(result)
    elif 'open youtube' in query:
        webbrowser.open("youtube.com")
    elif 'open google' in query:
        webbrowser.open("google.com")
    elif 'javatpoint' in query:
        webbrowser.open("javatpoint.com")

    elif 'the time' in query:
        strTime = datetime.datetime.now().strftime("%H:%M:%S")
        speak(f"sir, the is {strTime}")
    elif 'open vscode' in query:
        vscodePath = "C:\\Users\\ACER\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"
        os.startfile(vscodePath)
    elif 'eamil to noman' in query:
        try:
            speak("what shoud i say??")
            to = "yourmail@gmail.com"
            speak("Email has been sent")
        except Exception as e:
            print(e)
            speak("sorr ain't able to send email at that time ")
